#index li.cronoaccesospentodevice {
    text-align: left;
    line-height: 30px;
}
.globale{
    width: 100%;
    float: left;
    margin-top: 26px;
}
.graph {
    position: relative;
    width: 100%;
    height: 100px;
/*     border: 1px solid #aeaeae; */
}
.bar {
    position: absolute;
    bottom: 0;
    background: linear-gradient(to top, #61c419 0%, #FF4141 85px);
/*      box-shadow: 3px -2px 5px gray, 3px -1px 10px red inset; */
    border-radius: 2px 2px 0 0; 
/*     font-size: 33px; */
    font-weight: bold;
}
.graph span {
    position: absolute;
    margin-top: -26px;
    width: 100%;
    text-align: center;    
}
.orari {
    position: relative;
    width: 100%;
    height: 20px;
    line-height: 20px;
/*     border: 1px solid grey; */
}
.linea {
    position: absolute;
    border-left: 1px solid #61c419;
    /* border: 3px solid #ff4141; */
/*     border-image: radial-gradient(circle at bottom left, red, transparent 50%); */
/*     border-image-slice: 1; */
}
.orari span {
    font-size: 0.7em;
    margin-left: 2px;
    
}